.container-main {
    margin-bottom: 100px;
}
.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 345px;
    max-width: 90%;
}

.window.bg-active {
    transform: translate(-50%, -50%) scale(1);
}

.window-header {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.window-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.window-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px 15px;
    gap: 15px;
}

.window-body > div {
    max-width: 100%;
}

.window-body button {
    max-width: 100%;
}

.title-project {
    grid-row: 1 / 2;
    max-width: 93%;
}

.title-project > div {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


#overlay-bg {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}

#overlay-bg.bg-active {
    opacity: 1;
    pointer-events: all;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    background-color: white;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    max-width: 100vw;
}

.project-card {
    height: 400px;
    width: 80%;
    max-width: 230px;
    margin: 20px;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    row-gap: 10px;
}

.project-card-title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

#submit {
    height: 50px;
}

.title-field{
    gap: 10px;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

@media (min-width: 1200px){
    .projects{
        display: grid;
        grid-template-columns: repeat(auto-fit, 400px);
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;
    }
    .project-card {
        height: 600px;
        max-width: 100%;
        margin: 20px;
        justify-self: center;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
        padding: 10px;
    }

    .card-title {
        font-size: 2rem;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        text-wrap: balance;
        height: 60%;
        line-height: 50px;
        
    }
    
    .card-others {
        font-size: 1.2rem;
    }

    .banish {
        height: 2.5rem;
    }

}



